head .success {
    margin-left: 20%;
    
}

body .heading {
    margin-right: 100px;
    margin-left: 100px;
    display: inline-block;
}

.bodying {
    
}

.field {
    margin-top: 10px;
    margin-bottom: 10px;
}